<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e07a5f">

    <!-- <link rel="stylesheet" href="../styles/main.css"> -->
    <script src="https://kit.fontawesome.com/6d173f80fe.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8270badb0.js" crossorigin="anonymous"></script>
    <link rel="manifest" href="./app.webmanifest">
    <title>Restopedia</title>
  </head>
  <body>
    <a href="#explore" class="skip-link">Menuju ke konten</a>
    <header class="app-bar" id="app-bar">
      <a href="/" class="app-bar--brand">Restopedia<i class="fa-solid fa-utensils"></i></a>
      <button class="app-bar--toggler" id="app-bar--toggler" type="button">
        <i class="fa-solid fa-bars fa-xl toggler-button"></i>
      </button>
      <nav class="app-bar--navigation" id="navigation-drawer">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/#/favorite">Favorite</a>
          </li>
          <li>
            <a href="https://github.com/nadyadf" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <main id="main-content"></main>



    <footer>
      <p>&#169 2023 Restopedia: Sumber inspirasi untuk kenikmatan kulinermu.</p>
    </footer>

  </body>
</html>