<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6d173f80fe.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a8270badb0.js" crossorigin="anonymous"></script>
    <title>Nadh's Resto</title>
  </head>
  <body>
    <nav class="navbar" id="navbar">
      <a href="#" class="navbar-brand">Nadh's Resto<i class="fa-solid fa-utensils" style="color: #f2cc8f;"></i></a>

      <button class="navbar-toggler" type="button" >
        <i class="more-icon fa-solid fa-bars fa-xl"></i>
      </button>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Favorite</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About Us</a>
        </li>
      </ul>
</nav>
  <section class="container jumbotron">
      <img src="../public/images/heros/hero-image_2.jpg" alt="hero-image">
  </section>

  <section class="menus">
    <h1>Explore Restaurant</h1>
    <div class="flex-container">
      <article class="menu-card">
        <div class="city-name">
          <p>Jogja</p>
        </div>
        <figure class="menu-image">
          <img src="" alt="">
        </figure>
        <div class="menu-info">
          <p class="rating">Rating: 4.5</p>
          <h2 class="menu-name">Nama menu</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit.</p>
        </div>
      </article>
      <article class="menu-card">
        <div class="city-name">Jogja</div>
        <figure class="menu-image">
          <img src="" alt="">
        </figure>
        <div class="menu-info">
          <p class="rating">Rating: 4.5</p>
          <h2 class="menu-name">Nama menu</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit.</p>
        </div>
      </article>
      <article class="menu-card">
        <div class="city-name">Jogja</div>
        <figure class="menu-image">
          <img src="" alt="">
        </figure>
        <div class="menu-info">
          <p class="rating">Rating: 4.5</p>
          <h2 class="menu-name">Nama menu</h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit.</p>
        </div>
      </article>

  </div>
  </section>
  <footer>
    <p>&#169 2023 Nadh's Resto. All rights reserved. Taste the Authentic Flavors in Japan.</p>
  </footer>

  <script src="../scripts/responsive-navbar.js"></script>

  </body>
</html>