<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://kit.fontawesome.com/6d173f80fe.js" crossorigin="anonymous"></script>
    <title>Nadh's Resto</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-brand">Nadh's Resto</a>
    
      <button class="navbar-toggler" type="button" >
        <i class="more-icon fa-solid fa-bars fa-xl"></i>
      </button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Favorite</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About Us</a>
          </li>
        </ul>
  </nav>
  </body>
</html>